* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-with-iamge-block {
  display: flex;
  width: 1200px;
  height: 617px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
  width: 513px;
  height: 517px;
  margin-top: 50px;
  margin-left: 71px;
}

.contact {
  display: block;
  width: 118px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #001d6b;
}

h1 {
  width: 276px;
  height: 50px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #121212;
}

.image {
  width: 513px;
  height: 517px;
  background-image: url("./img/form-image.jpg");
  margin-top: 50px;
  margin-left: 32px;
}

.MuiInput-input.MuiInputBase-input.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  
  width: 513px;
  height: 1px;
  margin-top: 0px;
  width: 513px;
  height: 35px;
  box-sizing: border-box;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1ptx2yq-MuiInputBase-root-MuiInput-root {
  margin-top: 0px;
  box-sizing: border-box;
}

#all-inp {
  margin-top: 55px;
}

.error {
  margin-top: 11px;
  width: 513px;
  height: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* Error */

  color: #d50d0d;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.btn {
  margin-top: 139px;
  margin-left: 1px;
  width: 173px;
  height: 54px;
  border: none;
  background: #1dca9d;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.reset {
  margin-left: 12px;
}

@media screen and (max-width: 400px) {
  .main {
    width: 375px;
  }
  .form-with-iamge-block {
    width: 327px;
    height: 837px;
    margin-left: 24px;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .form {
    width: 327px;
    height: 503px;
    margin-top: 0;
    margin-left: 0;
  }
  .contact {
    display: block;
    width: 277px;
    height: 19px;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 19px;
    color: #001d6b;
  }

  h1 {
    width: 277px;
    height: 34px;
    margin-top: 16px;
    margin-left: 25px;
    font-size: 24px;
    line-height: 34px;
    color: #121212;
  }

  #all-inp {
    margin-top: 27px;
    padding: 0;
  }

  .error {
    width: 277px;
    margin-left: 25px;
  }
  

  .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 277px;
    margin-left: 25px;
  }

  .btn {
    width: 148px;
    margin-top: 139px;
    margin-left: 25px;
  }
  .reset {
    margin-left: 2px;
  }
  .image {
    width: 277px;
    height: 277px;
    margin-top: 32px;
    margin-left: 25px;
  }
}
/* 
@media screen and(max-width:480px) {
  .form-with-iamge-block {
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 14px;
  }
  .contact {
    font-size: 10px;
  }
  .reset {
    margin-left: 0;
    margin-top: 5px;
  }
} */
